<style type="text/css">
h2{color: grey;text-decoration: underline}
font{font-family: georgia; font-size: 16px;color:grey;}
div{text-align: left}
</style>
<h2>About Us</h2>
<div class="well">


<pre >
	<font>
At SNS, our vision is to be Earth's most customer centric company; to build a place where people can come to find and discover virtually anything they want to buy online. With SNS.in, we endeavour to build that same destination in India by giving customers more of what they want – vast selection, low prices, fast and reliable delivery, and a trusted and convenient online shopping experience – and provide sellers a world-class e-commerce platform. We are committed to ensure 100% Purchase Protection for 
your shopping done on SNS.in so that you can benefit from a safe and secure online ordering experience, convenient payment options such as cash on delivery, easy 
returns and enjoy a completely hassle free online shopping experience. 
</font>
</pre>
<img src="/images/hp.jpg" style="margin-left:25%">
</div>